{% extends 'base.html' %}

{% block title %}Детали товара{% endblock %}

{% block menu %}
    <a class="nav-item nav-link" href="{% url 'index' %}">Главная<span class="sr-only">(current)</span></a>
    <a class="nav-item nav-link" href="{% url 'product_create' %}">Добавить товар</a>
    <a class="nav-item nav-link" href="{% url 'product_update' product.pk %}">Редактировать</a>
    <a class="nav-item nav-link" href="{% url 'product_delete' product.pk %}">Удалить</a>
{% endblock %}

{% block content %}
    <h1>Название: {{ product.name }}</h1>
    <p>Описание: {{ product.description }}</p>
    <p>Категория: {{ product.category }}</p>
    <p>Остаток товара: {{ product.amount }} шт.</p>
    <p>Цена за единицу товара: {{ product.price }}</p>
{% endblock %}